<h1>Sign In</h1>

<form method="POST" action="/authentication/sign-in">
  <div class="form-group">
    <label for="sign-up-email">Email</label>
    <input type="email" name="email" placeholder="Your Email">
  </div>
  <div class="form-group">
    <label for="sign-up-password">Password</label>
    <input type="password" name="password" placeholder="A Safe Password">
  </div>
  <button>Sign In</button>
</form>
