<h1>Sign Up</h1>
<form method="POST" action="/sign-up" enctype="multipart/form-data">
  <div class="form-group">
    <div class="form-group">
      <label for="sign-up-name">Full name</label>
      <input type="text" name="name" placeholder="Your name">
    </div>
    <label for="sign-up-email">Email</label>
    <input type="email" name="email" placeholder="Your email">
  </div>
  <div class="form-group">
    <label for="sign-up-dateOfBirth">Date of birth</label>
    <input type="date" name="dateOfBirth" placeholder="Your date of birth">
  </div>
  <div class="form-group">
    <label for="sign-up-genre">Genre</label><br>
    <input type="radio" name="genre" value="male">Male<br>
    <input type="radio" name="genre" value="female">Female<br>
  </div>
  <div class="form-group">
    <label for="sign-up-skills">Skills / Interests</label><br>
    <input type="checkbox" name="skills" value="nutrition">Nutrition<br>
    <input type="checkbox" name="skills" value="lose weight">Lose weight<br>
    <input type="checkbox" name="skills" value="increase strength">Increase strength<br>
    <input type="checkbox" name="skills" value="hypertrophy">Hypertrophy<br>
    <input type="checkbox" name="skills" value="performance">Performance<br>
    <input type="checkbox" name="skills" value="rehab">Rehab<br>
    <input type="checkbox" name="skills" value="cutting">Cutting<br>
  </div>
  <div class="form-group">
    <label for="sign-up-description">Profile description</label>
    <input type="text" name="description" placeholder="Add a profile description">
  </div>
  <div class="form-group">
    <label for="sign-up-location">Location</label>
    <select name="location">
      <option value="lisboa">Lisboa</option>
      <option value="lisboa">Oporto</option>
      <option value="lisboa">Coimbra</option>
      <option value="lisboa">Braga</option>
      <option value="lisboa">Aveiro</option>
      <option value="lisboa">Albufeira</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sign-up-role">Type of user</label>
    <input type="radio" name="role" value="client">Client<br>
    <input type="radio" name="role" value="personalTrainer">Personal Trainer<br>
  </div>
  <div class="form-group">
    <label for="sign-up-image">Profile Image</label>
    <input type="file" name="image" placeholder="Add your profile image">
  </div>
  <div class="form-group">
    <label for="sign-up-password">Password</label>
    <input type="password" name="password" placeholder="A Safe Password">
  </div>
  <button>Sign Up</button>
</form>