<div class="container py-5">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center404">
          <h1>Page Not Found <small><font face="Tahoma" color="#6e9673">Error 404</font></small></h1>
          <br />
          <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
          <p><b>Or you could just press this neat little button:</b></p>
          <a href="/" class="btn btn-large corporate-btn"><i class="fa fa-home fa-1x icon-white" aria-hidden="true"></i></i> Take Me Home</a>
        </div>
        <br />
        <br />
        </div>
        <br />
        <p></p>
    </div>
  </div>
</div>