<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<form method="POST" action="/login">
  <div class="form-group">
    <label for="sign-up-email">Email</label>
    <input type="email" name="email" placeholder="Your Email">
  </div>
  <div class="form-group">
    <label for="sign-up-password">Password</label>
    <input type="password" name="password" placeholder="A Safe Password">
  </div>
  <button>Sign In</button>
</form>


        <p class="card-text pt-3"><small class="text-muted">Not a member? <a class="hushlink-link" href="/sign-up">Sign up</a></small></p>
      </div>
    </div>
    </div>

</body>
</html>
