<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2b806b9c62.js"></script>
  </head>
  <body>
    
    {{#if user}}
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">M&M Trainer</a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          {{#if client}}
          <a class="nav-item nav-link" href="/search-pt">Personal Trainers</a>
          <a class="nav-item nav-link" href="/shops">Shops</a>
          <a class="nav-item nav-link" href="/user">My profile</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
          {{/if}}

          {{#if pt}}
          <a class="nav-item nav-link" href="/shops">Shops</a>
          <a class="nav-item nav-link" href="/user">My profile</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
          {{/if}}

          {{#if admin}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="/admin/users">Users</a>
              <a class="dropdown-item" href="/admin/pt">Personal Trainer</a>
              <a class="dropdown-item" href="/admin/shops">Shops</a>
        </li>                  
          {{/if}}
          {{/if}}
        </div>   
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
