<div class="cards-container">
  {{#each pts}}    {{!-- THIS 'pts' it's not defined, it's only a example --}}
    {{> parPT this}}
  {{/each}}
</div>

  {{!-- DEFAULT TEST - SAME STRUCTURE USED BY <<<<<SHOPS>>>>> --}}