
  <p>Showing Personal Trainers located in: <strong>{{user.location}}</strong> with the following skills:</p>
  {{#each user}}
  <p>{{this.skills}}</p>
  {{/each}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {{#each pts}}
    <p>{{this.name}}</p>
  {{/each}}