$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #6e9673;

body {
  margin: 0;
  padding: 0px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}

nav {
  text-decoration-color: white;
  color: white;
  background-color: #6e9673;
}

a {
  color: #6e9673; }

  .cards-container {
    display: flex;
    padding: 10% 10%;
    justify-content: space-around;
  }
  
 
  .cards-container img {
    display: flex;
    margin:auto;
    border-style: none;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    height: 18vw;
    border-radius: 25px;
  }

  .footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: dimgray;
  }

  .footer a:visited{
    /* text-decoration: none; */
    color: dimgray;
  }

  .footer a:hover{
    color: black;
  }
